.album-card {
  width: 220px;
  cursor: pointer;
}

.album-cover-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  width: 220px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #111;
}

.album-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.album-subtitle {
  font-size: 13px;
  color: black;
}
