.album-card {
  width: 220px;
  cursor: pointer;
}

.album-cover-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}

.album-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}

.album-subtitle {
  font-size: 20px;
  color: black;
}
