.dbody {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.content {
  flex: 1;
  overflow-x: auto;
  padding:5px;
  
}

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
