.title {
  font-family: arial;
  text-align: center;
  font-weight: 100;
  font-size: larger;
}
.box {
  background: linear-gradient(180deg, rgb(248, 157, 241), rgb(255, 169, 169));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  height: 100vh;
}

.login-part {
  background: transparent;
  flex-direction: column;
  gap: 16px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  background: linear-gradient(180deg, rgb(255, 169, 169), rgb(248, 157, 241));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.box3 {
  background: linear-gradient(90deg, rgb(236, 173, 173), rgb(249, 117, 117));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
}

.text {
  font-family: arial;
  font-size: small;
}

p {
  font-size: medium;
  font-family: arial;
}
