.menu {
  width: 250px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: black;
  position: fixed;
  top: 0;
}

.no-decor {
  text-decoration: none;
  width: fit-content;
  color: inherit;
  font-family: arial;
  font-size: medium;
  color: white;
}
