.container{
    width:100%;
    height:150px;
    background: linear-gradient(to right, rgb(255, 169, 169),  rgb(255, 107, 206));
    display: flex;
    align-items: left;
    flex-direction: column;
    bottom: 0;

}

footer{
    position:fixed;
}

.theme{
    color: black;
}

.container2{
    gap:20px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 45px 100px 50px 50px;

}