.menu {
  width: 230px;
  height: 600px;
  padding: 10px;
  background-color: black;

}

.no-decor {
  text-decoration: none;
  color: inherit;
  font-family: arial;
  font-size: medium;
  color: white;
}
