.container{
    width:1490px;
    height:250px;
    background: linear-gradient(90deg, rgb(255, 169, 169),  rgb(255, 107, 206));
    display: flex;
    align-items: left;
    flex-direction: column;

}

footer{
    position:fixed;
}

.theme{
    color: black;
}

.container2{
    gap:20px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 45px 100px 50px 50px;

}